<h1>Unconventional?</h1>

<p>{{title}}</p>
<p>IMDB rating : {{imdbRating}}</p>
<p><font color ="grey">My rating : {{myRating}}</font></p>

<p>How in sync with the hivemind!</p>

<p><a href="/home/profile">Save your result!</a></p>
<br><br>
<a href="/home">Again?</a>
