<h1>Welcome</h1>

<form class="search" action="index.html" method="post">
  <input type="text" placeholder="which movie? "name="movieSearch" value="" /><br /><br />
  <input type="submit" value="search">
</form>
