<h1>Welcome</h1>

<form class="search" action="/home/result" method="post">
  <input type="text" placeholder="which movie? "name="name" value="" /><br /><br />
  <input type="submit" value="search">
</form>

<a href="/home/profile">See my profile</a>
