<div class="row">
    <div class="twelve column">
        <h1>How unconventional are your tastes?</h1>
    </div>
</div>
<br />
<div class="row">

    <form  action="/home/result" method="post">

        <input type="text" placeholder="which movie? " name="name" value="" />      <br />
        <input type="submit" value="search">
    </form>

</div>


    <a href="/home/profile">See my profile</a>
