<h1>New user</h1>

<form class="newUser" action="/home/user/{{user_id}}/" method="post">
  <input type="text" name="user_name" placeholder="your name here">
  <input type="submit" value="create user">
</form>
