<h1>Unconventional?</h1>


<p>{{title}}</p>
<p>IMDB rating : {{imdbRating}}</p>
<p><font color ="red">My rating : {{myRating}}</font></p>

<p>What a savage critic!</p>
<p><a href="/home/profile">Save your result!</a></p>
<br><br>
<a href="/home">Again?</a>
