body {
  border-color: black
  color: #555;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
  line-height: 1.7;

}

h1 {
  border-color: black
  color: #555;
}


a {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
}

a:hover {
  color: #555;
}
